body {
    height: 100%;
    padding: 0;
    background-color: rgb(224, 224, 224);
}

#site-name {
    margin: 10px;
    font-family: 'Great Vibes', serif;
    font-size: 2.2em;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Great Vibes", serif;
    text-align: center;
    font-size: 4em;
    color: black;
    letter-spacing: 7px;
    margin-top: 116px;
    transform: rotate(-6deg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: -10px;
}

.container input[type="email"],
.container input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: black;
    font-size: 16px;
    border-radius: 24px;
    transition: 0.25s;
    font-family: 'Roboto Slab', serif;
}

.container input[type="email"]:focus,
.container input[type="password"]:focus {
    width: 380px;
    border-color: #2ecc71;
}

.container input[type="submit"] {
    border: 0;
    background-color: #3498db;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #555;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}

.container input[type="submit"]:hover {
    background-color: #555555;
    color: black;
}